<div *ngIf="post">
    <h1>Naziv: </h1>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="post.naslov">
    </div>
    <h4>url: </h4>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="post.slika">
    </div>
    <h4>Tekst: </h4>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="post.tekst">
    </div>
    <br>
    <button type="button" class="btn btn-secondary float-right" (click)="onEdit(post)" >Save</button>
  </div>

